.login-hero {
    margin-top: 8rem;
    padding: 0 1.5rem;
}

.title {
    color: var(--secondary-accent-color) !important;
    letter-spacing: -1px;
}

.subtitle {
    color: #888 !important;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login-box {
    max-width: 400px;
    margin: 0 auto;
}

.github-btn {
    background-color: transparent !important;
    color: var(--secondary-accent-color) !important;
    border: 1px solid #333 !important;
    font-weight: 600;
    transition: all 0.3s ease;
    height: 3.5rem !important;
    font-size: 1.5rem;
}

.github-btn:hover {
    background-color: var(--secondary-accent-color) !important;
    color: #000 !important;
    border-color: var(--secondary-accent-color) !important;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.github-btn .icon {
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

@media(max-width: 768px) {
    .login-hero {
        margin-top: 4rem;
    }

    .github-btn{
        font-size: 1rem;
    }
}
