@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
:root {
  --primary-accent-color: #9a594a;
  --secondary-accent-color: #fff;
}

*{
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--secondary-accent-color);
}

.navbar-item button {
  background-color: var(--primary-accent-color);
}

#brand-name{
  font-size: 1.5rem !important;
  color: var(--primary-accent-color) !important;
}

a {
  text-decoration: none;
  color: var(--secondary-accent-color);
}

/* for icons */
.r-icon{
  margin-left: 5px;
}

/* Force Navbar to stay horizontal on mobile */
.navbar>.container {
  display: flex !important;
  align-items: stretch !important;
  width: 100% !important;
}

.navbar-menu {
  display: flex !important;
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  align-items: stretch !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.navbar-end {
  display: flex !important;
  align-items: center !important;
  margin-left: auto !important;
  flex-direction: row !important;
}

.navbar-item {
  display: flex !important;
  align-items: center !important;
}

main {
  flex: 1;
}

.footer {
  padding: 2rem 1rem !important;
  color: var(--secondary-accent-color);
}
